# Do not put real values in GitHub.
FIREBASE_SERVICE_ACCOUNT_JSON=
META_WA_ACCESS_TOKEN=
META_WA_GRAPH_VERSION=v25.0
META_WA_PHONE_NUMBER_ID=
META_WA_WABA_ID=
META_WA_VERIFY_TOKEN=
WHATSAPP_TOKEN_ENCRYPTION_KEY=
WHATSAPP_DEFAULT_CLIENT_ID=saanvi_mediaworks
QR_SERVICE_URL=
